.avatarContainer {
  display: flex;
  flex-flow: row wrap; }
  .avatarContainer .dead img {
    filter: opacity(30%); }
  .avatarContainer .avatar {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 1rem; }
    .avatarContainer .avatar .playerName {
      display: flex;
      flex-flow: row nowrap;
      color: #EFEFEF;
      font-size: 1.25rem;
      font-variant: small-caps;
      letter-spacing: 0.05rem;
      height: 2rem;
      padding-top: 0.75rem; }
      .avatarContainer .avatar .playerName .medal {
        height: 1.5rem;
        width: auto;
        margin-left: -1.5rem; }
    .avatarContainer .avatar .playerCharacter {
      color: #D32F2F;
      font-variant: small-caps; }
