.lobby
  border: 2px solid yellow
  display: flex
  flex-flow: row nowrap
  justify-content: space-between

  .villageContainer
    border: 2px solid lightGreen

  .timer
    border: 2px solid $midnightBlue

  .sidebar
