.sidebarName {
  margin: 0.5rem 0; }
  .sidebarName .nameBlock {
    border: 1px solid hotpink;
    color: #EFEFEF;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center; }
    .sidebarName .nameBlock .playerName {
      margin: 0 1rem; }
  .sidebarName .nameBlock:hover {
    border: 1px solid lightgreen;
    background-color: #EFEFEF;
    color: #180627; }
    .sidebarName .nameBlock:hover svg {
      color: #180627 !important; }
  .sidebarName .medalSidebar {
    border: 1px dashed red;
    height: 1.75rem;
    margin-right: 1rem; }
  .sidebarName .popOver:hover {
    border: 1px solid orange;
    background-color: #EFEFEF; }
